<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    {%if user.is_authenticated%}
    <nav class="nav-bar">
        <div class="container">
            <ul class="nav">
                <li class="item"><a class="link" href="/">Home</a></li>
                <li class="item"><a class="link" href="/upload">Upload Photo</a></li>
                <li class="item"><a class="link" href="/login">Login</a></li>
                <li class="item"><a class="link" href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    {%endif%}
    {%block content%}
    {%endblock%}
</body>
</html>